@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");

#filtered-table {
  font-size: 80%;
  font-family: Frutiger LT Com,Helvetica Neue,sans-serif;
	vertical-align: baseline;
	color: black;
}

.dt-button {
  font-size: 70% !important;
}
  
td {
  line-height: 1.5em;
}

td.kurzinfo-class {
  min-width: 500px;
}

td.date-class {
  min-width: 100px;
}